<div class="product-item" [routerLink]="['/details/'+product.slug]">
    <div class="images">
        <img src="/assets/img/products_images/{{product.images[0]}}" alt="">
    </div>
    <div class="content">
        <div class="header">
            <label class="price">{{product.price}}€</label>
            <div class="likes-container" (click)="productLike(product)">
                <fa-icon [icon]="[like,'heart']" class="like" [ngClass]="{'liked': like === 'fas'}" ></fa-icon>
                <label>{{product.likes}}</label>
            </div>
        </div>
        <p class="title">{{product.title}}</p>
        <p>{{product.description}}</p>
    </div>
</div>