main {
    margin: 0px auto;
    width:100%;
    height: calc(100vh - 152px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1,h2,h3,h4,p {
    margin: 0;
}
.container {
    height: 90%;
    display: flex;
    width: 90%;
    flex-direction: row;
    gap: 10px;
    /* background-color: red; */
}

.product {
    background-color: #EF7757;
    padding: 5px;
    border-radius: 20px;
    display: flex;
    gap: 10px;
    box-sizing: border-box;
    flex-wrap: nowrap;
    width: 70%;
    height: 100%;
}

.images {
    box-sizing: border-box;
    width: 40%;
    height: 100%;
    display: flex;
}

.main-image img {
    border-radius: 15px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.main-image {
    width: 100%;
    padding: 5px;
}
.second-images {
    display: none;
    flex-direction: column;
    width: 30%;
}
.second-images div {
    box-sizing: border-box;
    height: 33%;
    padding: 5px;
}
.second-images img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
    object-position: center;
}

.product-info {
    width: 70%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    padding: 5px;
    justify-content: space-between;
}


.product-info .header {
    position: relative;
    display: flex;
    height: 10%;
    gap: 10px;
}

.product-info .header img {
    height: 100%;
}
.product-info .user {
    max-width: 25%;
    cursor: pointer;
    background-color: #C6E4F2;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 5px;
}


.product-info .header like-button{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2rem;
    font-weight: 700;
}

.product .main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    box-sizing: border-box;
    position: relative;
}

.price {
    width: 48%;
}

.condition {
    width: 48%;
}

.description {
    width: 100%;
}

.product .footer {
    display: flex;
    height:50%;
    flex-direction: column;
    gap: 10px;
}

iframe{
    box-sizing: border-box;
    width: 100%;
    height: 90%;
    border: 0px;
    border-radius: 15px;
}

.comments {
    /* background-color: #C6E4F2; */
    box-sizing: border-box;
    height:100%;
    width: 30%;
    border-radius: 20px;
    /* padding: 10px; */
    overflow: auto;
}

.update-user {
    position: absolute;
    top: 100%;
    right: 0;
}

.update-user *{
    cursor: pointer;
}

.update-user .update {
    font-size: 1.2rem;
    font-weight: 700;
    padding: 10px;
    border: 3px solid #443C6B;
    color: #443C6B;
    display: flex;
    align-items: center;
    border-radius: 30px;
    gap: 10px;
    
}
.update-user .update:hover {
    background-color: white;
}

.input {
    box-sizing: border-box;
    border: none;
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 900;
    background-color: transparent;
    outline: none;
    font-size: 2rem;    
}
select.input {
    font-size: 1.5rem;
}

textarea.input {
    font-size: 1rem;
    font-weight: 500;
    width: 100%;
    outline: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}