<footer>
    <main>
        <div>
            <p>@2022 - DAW</p>
        </div>
        <div class="twitter">
            <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
            <a href="https://twitter.com/joaquim_ribera">joaquim_ribera</a>
        </div>
        <div class="github">
            <fa-icon [icon]="['fab', 'github']"></fa-icon>
            <a href="https://github.com/JoaquimRS">JoaquimRS</a>
        </div>
    </main>
    <nav>
        <ul class="nav-list">
            <li class="nav-list-item focus" [routerLink]="['/']"><fa-icon [icon]="['fas', 'home']"></fa-icon></li>
            <li class="nav-list-item"><fa-icon [icon]="['far', 'heart']"></fa-icon></li>
            <li class="nav-list-item"><fa-icon [icon]="['fas','circle-plus']"></fa-icon></li>
            <li class="nav-list-item"><fa-icon [icon]="['fas','comment-dots']"></fa-icon></li>
            <li class="nav-list-item" *ngIf="user == false" [routerLink]="['/auth']"><fa-icon [icon]="['fas','user']"></fa-icon></li>
            <li class="nav-list-item" *ngIf="user == true"><img class="user-image" src="http://ximo.com:8080/users/img/{{currentUser.avatar}}"></li>
        </ul>
    </nav>
</footer>