<header class="nav">
    <div class="container flex-container">
        <div class="nav-title">
            <img src="/assets/img/wallazon.png" class="logo" alt="Wallazon Image">
            <h1>wallazon</h1>
        </div>
        <div class="search">
            <mat-icon class="search-icon">search</mat-icon>
            <input type="text" class="search-input">
        </div>
        <nav>
            <ul class="nav-list">
                <li class="nav-list-item"><mat-icon>favorite_border</mat-icon></li>
                <li class="nav-list-item"><mat-icon>sms</mat-icon></li>
                <li class="nav-list-item"><mat-icon>person</mat-icon></li>
                <li class="nav-list-item"><mat-icon>add_circle</mat-icon></li>
            </ul>
        </nav>
    </div>
</header>