section {
    box-sizing: border-box;
    /* background-color: white; */
    height: 100%;
    padding: 20px;
    overflow: hidden;
}
h1 {
    font-size: 2rem;
}

main {
    height: 80%;
    box-sizing: border-box;
    background-color: #C6E4F2;
    border-radius: 20px;
    padding: 20px;
    width: 100%;
    text-align: center;
    overflow: auto;
}