@import "keen-slider/keen-slider.min.css";

.carrousel {
    display: flex;
    text-align: center;    
}

.carrousel .container {
    color: #443C6B;
    border: 6px solid #443C6B;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    width: 120px;
    height: 120px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}


.carrousel .container:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.carrousel .container fa-icon {
    font-size: 60px;
    margin: 0;
}
.carrousel .container p {
    margin: 0;
}