@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400;700&display=swap');

body {
    background-color: #F2D4C6;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
}


/* Text Style */
.nav-title h1 {
    margin: 0;
    font-size: 2.5rem;
    color: #13c1ac;
}


/* Web Structure */

/* Header */
header.nav {
    background-color: #EF7757;
    padding: 1em 0;
    text-align: center;
    margin-bottom: 0;
}

header .container {
    width: 100%;
    /* max-width: 1200px; */
    margin: 0 auto;
    align-items: center;
}
.nav-title {
    position: relative;
    display: flex;
}

.nav-title:hover {
    transform: scale(1.2);
    cursor: pointer;
}

img.logo {
    height: 40px;
    margin-right: 10px;
    
}

.flex-container{
    display: flex;
    justify-content: space-around;
}
.search {
    width: 50%;
    height: 40px;
    position: relative;
}

header nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav li {
    margin: 0 1.5em;
}

.nav-list-item {
    transform: scale(1.5);
}
.nav-list-item:hover {
    transform: scale(1.8);
    cursor: pointer;
}

.user-image {
    height: 20px;
}
footer {
    display: flex;
    align-items: center;
    background-color: #EF7757;
    flex-direction: column;
}

footer nav {
    display: none;
}

footer div {
    margin: 3px;
}
footer p {
    margin: 0;
}
footer a {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 600px)  {
    body {
        background-color: #EF7757;
    }
    header.nav {
        top: 0;
        padding: 0;
        position: fixed;
        width: 100%;
        z-index: 1;
    }
    .container {
        box-sizing: border-box;
        justify-content: space-between;
        padding-right: 5px;
        padding-left: 5px;
    }
    .search {
        width: 80%;
    }
    .search-input {
        width: 100%;
    }
/*     
    .container:focus-within > .nav-title > img{
        display: none;
    }

    .container:focus-within > .search {
        width: 100%;
    } */

    .nav-title h1 {
        display: none;
    }
    .nav-title {
        height: 70px;
    }

    .nav-title img {
        height: 100%;
    }
    header nav {
        display: none;
    }

    footer main {
        display: none;
    }
    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    footer nav {
        display: block;
        width: 100%;
        padding: 20px;
    }
    footer nav ul {
        display: flex;
        list-style-type: none;
        justify-content: space-around;
        margin: 0;
        padding: 0;
    }
    .nav-list-item {
        transform: scale(1.5);
    }
    .focus {
        color: #13c1ac;
        transform: scale(2);
    }


    
}