section {
    box-sizing: border-box;
    /* background-color: white; */
    height: 100%;
    padding: 20px;
}
header h1 {
    font-size: 2rem;
}

main {
    height: 80%;
    background-color: #C6E4F2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-info {
    width: 80%;
    height: 50%;
    display: flex;
    border-bottom: 1px solid black;
    position: relative;
}

.follow {
    position: absolute;
    top: 20%;
    right: 0;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 10px;
    border: 3px solid #443C6B;
    color: #443C6B;
    display: flex;
    align-items: center;
    border-radius: 30px;
    gap: 10px;
}

.name {
    font-size: 2rem;
}

.user-image {
    box-sizing: border-box;
    width: 40%;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-image div {
    position: relative;
    height: 80%;
}
.user-image img {
    box-sizing: border-box;
    height: 100%;
    /* border: 3px solid black; */
    /* border-radius: 50%; */
}

.user-image fa-icon {
    font-size: 2rem;
    position: absolute;
    bottom: 0;
    right: 0;

}

.user-text {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    gap: 20px;
    font-size: 1.5rem;
    font-weight: 900;
}

.user-text * {
    margin: 0;

}


.user-status {
    display: flex;
    height: 50%;
    width: 80%;
    justify-content: space-around;
}

.user-status h3 {
    font-weight: 900;
    font-size: 2rem;
}


.user-status h1 {
    font-weight: 900;
    font-size: 4rem;
}

.input {
    box-sizing: border-box;
    border: none;
    width: 100%;

    font-family: 'Josefin Sans', sans-serif;
    font-weight: 900;
    background-color: transparent;
    font-size: 1.5rem;
    outline: none;
    
}

.input:focus {
    border-bottom: solid 1px black;
    outline: none;
}

