<section>
    
    <header>
        <h1>Perfil {{userProfile.username}}</h1>
    </header>
    <main>
        <div class="user-info">
            <div class="user-image">
                <div>
                    <img src="/assets/img/user_images/{{userProfile.avatar}}">
                    <fa-icon [icon]="['fas','edit']" *ngIf="sameUser"></fa-icon>
                </div>
            </div>
            <div class="user-text" *ngIf="sameUser">
                <p>{{userProfile.username}}</p>
                <!-- <input type="text" value="{{userProfile.username}}" class="input"> -->
                <input type="text" [(ngModel)]="email" (keydown.enter)="updateProfile()" class="input">
                <textarea class="input" [(ngModel)]="bio" (keydown.enter)="updateProfile()"></textarea>
            </div>
            <div class="user-text" *ngIf="!sameUser">
                <p>{{userProfile.username}}</p>
                <p>{{userProfile.bio}}</p>
            </div>
        </div>
        <div class="user-status">
            <div *ngIf="sameUser">
                <h3>Favoritos</h3>
                <h1>{{userProfile.likes.length || 0}}</h1>
            </div>
            <div>
                <h3>Productos</h3>
                <h1>{{userProfile.products.length || 0}}</h1>
            </div>
            <div>
                <h3>Seguidores</h3>
                <h1>{{userProfile.followers || 0}}</h1>
            </div>
            <div>
                <h3>Siguiendo</h3>
                <h1>{{userProfile.following?.length || 0}}</h1>
            </div>
        </div>
    </main>
    
</section>
